.is-family-serif {
	font-family: georgia, serif;
	}
@media (prefers-color-scheme: light) {
    html {
        background-color: #f5f4f2;
    }
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: #262625;
    }
}
.is-selected {
	color: #fff;
	}
.navbar {
	margin-bottom: -4em;
	background: transparent;
	}
.navbar a:hover:not(.is-selected) {
	background: none; 
	}
.navbar-brand {
	letter-spacing: .4em;
	}
.navbar-menu .navbar-item {
	letter-spacing: .15em;
	font-size: 90%;
	}
h1 {
	font-weight: normal !important;
	font-style: italic;
	}
h2 {
	margin-top: 2em !important;
	}
	
/* 
.image-container.labeled-image {
	position: relative;
	display: inline-block;
}
 */
/* 
.image-container.labeled-image img {
	width: 100%;
	height: auto;
	filter: grayscale(100%);
	opacity: 0.8;
}
 */
.image-container.labeled-image a:hover img {
	/* filter: none; */
	/* opacity: 1; */
	}

/* 
.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white; 
	text-align: center;
	background-color: rgba(0, 0, 0, 1); 
	padding: 1em 1.5em;
	text-transform: uppercase;
	letter-spacing: .15em;
	font-size: 1em;
	font-weight: bold;
}
 */